@model Director

@{
    ViewData["Title"] = "Details for a diretor";
}

<div class="details">
    <div class="details__container">
        <img src="@Model.ProfilePictureUrl"
             alt="@Model.FullName"
             class="details__img" />
        <div class="details__text">
            <h2 class="heading-secondary details__title">@Model.FullName</h2>
            <p class="details__description">
                @Model.Bio
            </p>
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn--medium btn--rectangle btn--primary details__btn">
                    <svg>
                        <use xlink:href="/img/sprite.svg#icon-new-message"></use>
                    </svg>
                    Update
                </a>
            }
            <a href="https://www.imdb.com/" class="btn btn--medium btn--rectangle btn--primary details__btn">
                <svg>
                    <use xlink:href="/img/sprite.svg#icon-imdb"></use>
                </svg>
                Go to IMDb.com
            </a>
            <a asp-action="Index"
               class="btn btn--medium btn--rectangle btn--primary details__btn">
                <svg>
                    <use xlink:href="/img/sprite.svg#icon-reply"></use>
                </svg>
                Go back
            </a>
        </div>
    </div>
</div>

