@using eTickets.Data.ViewModels
@model LoginVM

@{ 
    ViewData["Title"] = "Log in to your account";
}

<div class="account">
    <div class="account__container">
        <form asp-action="Login" class="form form--guest">
            <h2 class="heading-secondary account__title">
                Log In To Your Account
            </h2>

            @if (TempData["Error"] != null)
            {
                <p class="account__error">
                    @TempData["Error"]
                </p>
            }

            <div class="form__group">
                <label asp-for="@Model.EmailAddress" for="email" class="form__label"></label>
                <input asp-for="@Model.EmailAddress"
                       type="email"
                       class="form__input"
                       placeholder="Email"
                       id="email"
                       required />
            </div>

            <div class="form__group">
                <label asp-for="@Model.Password" for="password" class="form__label"></label>
                <input asp-for="@Model.Password"
                       type="password"
                       class="form__input"
                       placeholder="Password"
                       id="password"
                       required />
            </div>

            <div class="form__btns">
                <a asp-controller="Movies" 
                        asp-action="Index" 
                        class="btn btn--medium btn--rectangle btn--white">
                    Cancel
                </a>
                <button type="submit" class="btn btn--medium btn--rectangle btn--white">
                    Log In
                </button>
            </div>
        </form>
    </div>
</div>
