@using eTickets.Data.ViewModels
@model RegisterVM

@{ 
    ViewData["Title"] = "Sign Up For A New Account";
}

<div class="account">
    <div class="account__container">
        <form asp-action="Register" class="form form--guest">
            <h2 class="heading-secondary account__title">
                Sign Up For A New Account
            </h2>

            @if (TempData["Error"] != null)
            {
                <p class="account__error">
                    @TempData["Error"]
                </p>
            }

            <div class="form__group">
                <label asp-for="@Model.FullName" for="full-name" class="form__label"></label>
                <input asp-for="@Model.FullName"
                       type="text"
                       class="form__input"
                       placeholder="Full Name"
                       id="full-name"
                       required />
            </div>

            <div class="form__group">
                <label asp-for="@Model.EmailAddress" for="email" class="form__label"></label>
                <input asp-for="@Model.EmailAddress"
                       type="email"
                       class="form__input"
                       placeholder="Email"
                       id="email"
                       required />
            </div>

            <div class="form__group">
                <label asp-for="@Model.Password" for="password" class="form__label"></label>
                <input asp-for="@Model.Password"
                       type="password"
                       class="form__input"
                       placeholder="Password"
                       id="password"
                       required />
            </div>

            <div class="form__group">
                <label asp-for="@Model.ConfirmPassword" for="confirm-password" class="form__label"></label>
                <input asp-for="@Model.ConfirmPassword"
                       type="password"
                       class="form__input"
                       placeholder="Confirm Password"
                       id="confirm-password"
                       required />
                <span asp-validation-for="@Model.ConfirmPassword" class="account__error"></span>
            </div>

            <div class="form__btns">
                <a asp-controller="Movies"
                   asp-action="Index"
                   class="btn btn--medium btn--rectangle btn--white">
                    Cancel
                </a>
                <button type="submit" class="btn btn--medium btn--rectangle btn--white">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
</div>
